
<div>
  <ul>
    <li *ngFor="let color of colors">{{color}}</li>
    <!-- can now use color as an instance of a var -->
  </ul>
</div>
<br>
<h1>Student List</h1
  ><h3>{{title}}</h3> 
  <!-- ^^^one way binding -->
<button (click)="clicked()">CLICK ME</button>
<div>
  <br>
  <input type="text" [(ngModel)]="name">
  <!-- ^^^ two way binding -->
  <label> | {{name}}</label>
</div>
<br>
<p *ngIf="display">This displays if true.</p>
<!-- ^^^ shorthand for: *ngIf="display === true" -->
<p *ngIf="!display">This displays if not true.</p>
<h1 *ngIf="subject">The subject is {{subject}}</h1>
<input [(ngModel)]="subject">
<br>
